body {
    margin: 0;
    padding-top: 100px;
    background: #f1f2f3;
    color: #666;
    font: 12px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.u-container {
    margin: auto;
    padding-bottom: 80px;
    width: 1200px;
    height: 100%;
}

.u-cf::before,
.u-cf::after {
      display: table;
      content: " ";
}

.u-cf::after {
    clear: both;
}

.Header {
    position: fixed;
    top:0;
    z-index: 15;
    width: 100%;
    height:64px;
    border-bottom: 1px solid #cee3f2;
    background: #fff;
}

.Header-logo {
    float: left;
    width: 80px;
    height: 100%;
    background: url(img/logo.png) no-repeat center;
    text-indent: -999px;
}

.Header-filters {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 22px;
    height: 100%;
}

.Header-categories {
    position: relative;
    font-size: 14px;
}

.Header-nav {
    position: relative;
    z-index: 10;
    padding-right: 10px;
    width: 58px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background: url(img/arrow-down.png) no-repeat 49px center;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.Header-categories:hover .Header-nav {
    border-bottom-color: #fff;
    background-image: url(img/arrow-up.png);
}

.Header-categoriesContent {
    position: absolute;
    top: 27px;
    display: none;
    padding: 40px 30px 20px;
    width: 300px;
    border: 1px solid #e1e1e1;
    background: #fff;
}

.Header-categories:hover .Header-categoriesContent {
    display: block;
    background: #fff;
}

.Header-categoriesModules {
    float: left;
    width: 80px;
}

.Header-categoriesModuleLink {
    display: block;
    margin-bottom: .5em;
}

.Header-categoriesBd {
    float: left;
    width: 220px;
}

.Header-categoriesRow {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #e1e1e1;
}

.Header-categoryLink {
    margin-right: 2em;
}

.Header-searchInput {
    margin-left: 20px;
    padding: 5px 30px 5px 8px;
    width: 200px;
    outline: none;
    border: 1px solid #e1e1e1;
    background: url(img/search.png) no-repeat 210px center;
}

.Header-helpers {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    font-size: 14px;
}

.Header-helperItem {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 25px;
    height: 100%;
}

.Header-new {
    margin-left: 5px;
    padding: 0 3px 2px;
    border-radius: 2px;
    background: #f46;
    color: #fff;
    font-size: 12px;
}

.Header-btn {
    padding: 5px 10px;
    border-radius: 2px;
}

.Header-btn--hili {
    background: #f46;
    color: #fff;
}

.phone-logo {
    float: left;
    width: 11px;
    height: 100%;
    background: url(img/phone.png) no-repeat center;
    text-indent: 999px;
}

.for-phone {
    position: relative;
    z-index: 10;
    padding: 5px 15px;
    background: url(img/arrow-down.png) no-repeat 63px center;
    cursor: pointer;
}

.Header-qrcode:hover .for-phone {
    background-image: url(img/arrow-up.png);
}
.Header-qrcode {
    position: relative;
}

.Header-qrContent {
    position: absolute;
    top: 64px;
    left: -90px;
    display: none;
    width: 188px;
    height: 200px;
    background: url(img/qrcode.png);
}

.Header-qrcode:hover .Header-qrContent {
    display: block;
}

.Focus {
    position: relative;
    float: left;
    width: 100%;
    height: 455px;
}

.Focus-item {
    position: relative;
    display: none;
    float: left;
    width: 712px;
    height: 445px;
}

.Focus-item.is-current {
    display: block;
}

.Focus-img {
    display: block;
    width: 710px;
    height: 443px;
    background: no-repeat;
}

.Focus-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding-left: 17px;
    width: 615px;
    height: 64px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 28px;
    line-height: 64px;
}

.Focus-lstitle {
    float: left;
}


.Focus-points {
    position: absolute;
    bottom: 76px;
    left: 560px;
    z-index: 5;
    overflow:hidden;
    width: 104px;
    height:12px
}

.Focus-point {
    float: left;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    background: url(img/xbt.png) -622px -244px no-repeat ;
    cursor: pointer;
}

.Focus-point.is-current {
    background-position-x: -642px;
}

.Hot {
    float: right;
    overflow: hidden;
    padding: 0 32px;
    width: 402px;
    height: 291px;
    border: 1px solid #dedfe0;
    background: #fff
}

.Hot-title {
    margin: 0;
    padding-top: 14px;
    height: 36px;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
}

.Hot-tags {
    margin-left: -16px;
    padding: 16px 0 0;
    height:68px;
    background: 0 0;
}

.Hot-span-sline {
    width: 422px;
}

.Hot-tag {
    display: inline-block;
    padding: 0 20px 0 16px;
    background: url(img/xbt.png) right 8px;
}

.Hot-spana {
    display: inline-block;
    margin-top: 5px;
    padding: 0;
    color: #444;
    font-size: 13px;
}

.Hot-spans {
    padding: 11px 0 5px;
    height: 35px;
    background: url(img/dian.png) repeat-x;
}

.Hot-span {
    line-height: 20px;
}

.Hot-lable.event {
    width: 26px;
    height: 20px;
    background-color: #fb3;
}

.Hot-lable {
    margin-left: 5px;
    padding: 2.5px 3px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
}

.Hot-lable.choice {
    width:26px;
    background-color: #f46;
}

.Hot-spans.Hot-app {
    padding-top: 10px;
    border-top: 1px solid #ebebeb;
    background: 0 0;
}

.AppDownload {
    float: right;
    overflow: hidden;
    margin-top: 20px;
    width: 468px;
    height: 130px;
    background-color: #fff;
}

.AppDownload-link {
    display: block;
    height: 128px;
    border: 1px solid #dedfe0;
    background: url(img/app-download.jpeg) no-repeat center;
    text-indent: -9999px;
}

.Center {
    overflow: hidden;
    width:100%;
}

.Selected {
    margin-top: 40px;
    border-top: 1px solid #d4d5d5;
}

.Selected-hd {
    margin: 28px 0;
}

.Selected-title {
    float:left;
    margin: 0;
    color: #444;
    font-weight: 400;
    font-size: 18px
}

.Selected-more {
    float: right;
    margin:0 auto;
    width: 80px;
    height: 28px;
    border-radius: 2px;
    background-color: #22b4f6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
}

.Selected-items {
    margin-right: -20px;
    height: 324px;
}

.Selected-item {
    position: relative;
    float: left;
    margin-right: 18px;
    width: 224px;
    height: 322px;
    border: 1px solid #dedfe0;
    background-color: #fff;
}

.Selected-figure {
    display: block;
}

.Selected-caption {
    padding: 12px 10px 0;
    height: 34px;
    color: #444;
    font-weight: 700;
    font-size: 13px;
}

.Selected-attrs {
    padding: 8px 10px 12px;
    height: 34px;
    color: #888;
    font-size: 12px;
}

.Recommend-enery {
    float: right;
    margin:0 auto;
    width: 394px;
    height: 28px;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
}

.Enery-tag {
    padding: 0 12px 0 10px;
    background: url(img/xbt.png) right 1px;
}

.Enery-lasttag {
    padding: 0 12px 0 10px;
    background: 0 0;
}

.Recommend-all {
    margin-top: 60px;
    margin-right: -20px;
}

.Recommend-block {
    position: relative;
    float: left;
    margin-right: 18px;
    width: 224px;
    height: 294px;
    border: 1px solid #dedfe0;
    background-color: #fff;
}

.Recommend-attr {
    height: 34px;
    color: #888;
    font-size: 12px;
}

.Selected-scs {
    padding: 0 12px 12px;
}

.Selected-lpg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 56px;
    height: 25px;
    border-radius: 2px;
    background-color: #fb3;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    text-orientation: none;
}

.Recommend-item {
    position: relative;
    float: left;
    margin-right: 18px;
    width: 224px;
    height: 255px;
    border: 1px solid #dedfe0;
    background-color: #fff;
}

.Figure-upper {
    display: block;
    width: 224px;
    height: 114px;
    background: url(img/drtj-1.jpeg);
    background-size: cover;
}

.Figure-middle {
    position: absolute;
    top: 68px;
    left: 68px;
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 80px;
    cursor: pointer;
}

.Figure-below {
    transform: translate3d(126px,126px,0);
}

.Selected-store {
    padding-top: 130px;
    padding-right: 10px;
    padding-left: 10px;
    color: #444;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

.Collect {
    margin-top: 75px;
    color: #888;
    text-align: center;
    font-size: 13px;
}

.Expertise {
    color: #888;
    text-align: center;
    font-size: 13px;
}

.Field {
    color: #444;
    font-weight: 400px;
}

.Selected-then {
    border-top: 1px solid #d4d5d5;
}

.Example {
    margin-right: -30px;
}

.Example-column {
    float: left;
    margin-right: 20px;
    width: 224px;
}

.Example-item {
    width: 100%;
}

.Example-title {
    margin-top: -5px;
    margin-bottom: 20px;
    border-right: 1px solid #dedfe0;
    border-bottom: 1px solid #dedfe0;
    border-left: 1px solid #dedfe0;
    background: #fff;
}

.Example-store {
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #444;
    text-align: center;
    font-size: 12px;
}

.Example-zan {
    padding-bottom:10px;
    padding-left: 10px;
    border-bottom: 1px solid #dedfe0;
    color: #a0a0a0;
}

.Example-comment {
    padding-left: 40px;
    color: #444;
    font-size: 12px;
}

.Browse-more {
    margin-top: 24px;
    width: 100%;
    height: 40px;
}

.Browse-more-btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background-color: #22b4f6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
}

.Footer {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 22px 0;
    height: 225px;
    border-top: 1px solid #d8d9da;
    background-color: #e1e2e3;
}

.Footer-all {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
}

.Footer-list {
    width: 1222px;
}

.Footer-items {
    float: left;
    overflow: hidden;
    padding: 9px 32px;
    width: 179px;
    height: 142px;
    border-left: 1px solid #cfd0d1;
}

.Footer-span {
    width: 202px;
}

.Footer-title {
    margin-bottom: 15px;
    color: #444;
    font-size: 13px;
}

.Footer-tag {
    float: left;
    width: 100px;
    height: 30px;
    color: #666;
    font-size: 13px;
}
